*{
    box-sizing: border-box;
}

body{
    margin:0px;
    border:0px;
    font-size:62.5%;
    background: #080808; /*082e57;*/
    overflow: hidden;   
}

@font-face {
    font-family:Exo;
    src:url('../font/Exo.ttf');
}
@font-face {
    font-family:Signika;
    src:url('../font/Signika.ttf');
}
@font-face {
    font-family:Roboto;
    src:url('../font/Roboto.ttf');
}

.wbt-page{
    position:relative;
    width:100%;
    height:100vh;
    scrollbar-color:#3d5a80 rgba(255,255,255, 0.1);
    scrollbar-width:none;
    overflow:auto;
}

.wbt-legend{
    position: relative;
    width:100%;
    height:40px;
    font-family:Exo;
    font-weight: bold;
    font-size:15px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
}

.carousel{
    position:relative;
    margin: 0 auto;
    width:100%;
    height:auto;
    padding:0px;
    border-radius:50px 50px 0px 0px;
    overflow: hidden;
}

.gallery-cell{
    position:relative;
    width:100%;
    min-height: 100px;
}
.gallery-cell img{
    width:100%;    
}

.wbt-slider{
    position: relative;
    width:100%;
    height:600px;
    border-radius:50px 50px 0px 0px;
    box-shadow: 0 0 50px rgba(0,0,0,0.4) inset;
    overflow: hidden;
}

.wbt-slider video{
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    ::-webkit-media-controls {
         display:none !important;
    }
}

.wbt-banner{
    width:100%;
    height:600px;
    border-radius:50px 50px 0px 0px;
    overflow: hidden;
}
.wbt-banner img{
    width:100%;
}

.gallery-cell .wbt-slider{
    border-radius:0px !important;
    height:780px !important;
}
.gallery-cell .wbt-banner{
    border-radius:0px !important;
    height:780px !important;
}

.menu-dock{
    position: absolute;
    width: calc(100% - 100px);
    height:80px;
    top:50px;
    left:50px;
    background: rgba(255,255,255,0);
    border-radius:40px;
    overflow:hidden;
    z-index:10;
}
.menu-dock-top{
    position: fixed;
    width: calc(100% - 100px);
    height:80px;
    top:10px;
    left:50px;
    background: #ffffff;
    border-radius:40px;
    overflow:hidden;
    z-index:10;
}

.logo{
    position: absolute;
    top:20px;
    left:20px;
    width:250px;
    height:auto;
    background: url('../img/CHlogo512.png') no-repeat center;
    background-size: contain;
}

.menu-dock-options{
    position: absolute;
    top:20px;
    right:200px; /*320*/
    width:500px;
    min-height:40px;
    height:auto;
    display: flex;
    text-align: right;
    justify-content: right;
}
.menu-dock-options .option{
    position: relative;
    width:auto;
    padding: 10px;
    font-family:Exo;
    font-weight: bold;
    font-size:17px;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4), 1px 1px 2px rgba(0,0,0,0.4);
    cursor:pointer;
    line-height:20px;
}
.menu-dock-options .option .option-bg{
    position: absolute;
    top:5px;
    left:0px;
    width:0%;
    height:30px;
    border-bottom:2px solid #ffffff;   
}
.menu-dock-options .option:hover .option-bg{
    animation: anim-option 0.5s linear forwards;
}

.btn-ws{
    position: absolute;
    top:20px;
    right:20px; /*140*/
    width:170px; 
    height:40px;
    background: #ffffff url('../img/ws.png') no-repeat;
    background-size: 30px;
    background-position: 5px center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-radius:20px;
    text-align: left;
    padding-left:40px;
    line-height: 40px;
    font-family:Exo;
    font-weight: bold;
    font-size:15px;
    color: #222222;
    line-height: 40px;
    cursor:pointer;
}
.btn-menu{
    position: absolute;
    top:20px;
    right:20px;
    width:110px;
    height:40px;
    background: transparent url('../img/menu-white.png') no-repeat;
    background-size: 20px;
    background-position: calc(100% - 20px) center;
    box-shadow: 0 0 2px #ffffff;
    border-radius:20px;
    text-align: left;
    padding-left:20px;
    line-height: 40px;
    font-family:Exo;
    font-weight: bold;
    font-size:15px;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4), 1px 1px 2px rgba(0,0,0,0.4);
    cursor:pointer;
    display:none;
}

.menu-dock-top .btn-ws{
    background: #1b8c0c url('../img/ws.png') no-repeat;
    background-size: 30px;
    background-position: 5px center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    color: #ffffff;
}
.menu-dock-top .btn-menu{
    background: transparent url('../img/menu.png') no-repeat;
    background-size: 20px;
    background-position: calc(100% - 20px) center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    color: #004185;
    text-shadow: none;
}

.menu-dock-top .menu-dock-options .option{
    color: #004185;
    text-shadow: none;
}
.menu-dock-top .menu-dock-options .option .option-bg{
    border-bottom:2px solid #004185;   
}
.menu-dock-top .menu-dock-options .option:hover .option-bg{
    animation: anim-option 0.5s linear forwards;
}

.wbt-content{
    position: relative;
    margin-top:-50px;
    width:100%;
    min-height:300px;
    background: #ffffff;
    border-radius:50px 50px 0px 0px;
    padding-top:40px;
}
.wbt-section{
    position: relative;
    width:100%;
    min-height:40px;
    height:auto;
}
    .section-agent{
        padding-top:80px;
        padding-bottom: 80px;
        background: #f7f7f7;    
    }
    .section-contact{
        padding-top:0px;
        padding-bottom: 40px;
        background: #004185 url('../img/global.png') no-repeat;
        background-size: 900px;
        background-position: center 10px;    
    }
    .section-footer{
        padding-top:0px;
        padding-bottom: 0px;
        background: #082e57;    
    }
    
    .bisel-top{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:50px;
        background: #ffffff;
        border-radius:0px 0px 50% 50%;
    }
    .bisel-bottom{
        position: absolute;
        bottom:0px;
        left:0px;
        width:100%;
        height:50px;
        background: #004185;
        border-radius:50% 50% 0px 0px;
    }

.wbt-section-content{
    position: relative;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:20px;
    width:1760px; /* 1320 */
    height:auto;
    min-height:10px;
}
    
.wbt-title{
    position: relative;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;    
    font-family:Exo;
    font-weight: bold;
    font-size:30px;
    color: #004185;
    line-height: 40px;
    text-align: center;
}
.wbt-title-2{
    position: relative;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;    
    font-family:Exo;
    font-weight: bold;
    font-size:20px;
    color: #222222;
    line-height: 20px;
    text-align: center;
}

.wbt-subtitle{
    position: relative;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;    
    font-family:Exo;
    font-weight: bold;
    font-size:15px;
    color: #222222;
    line-height: 20px;
    text-align: left;
}

.wbt-text{
    position: relative;
    margin-bottom:30px;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    color: #222222;
    line-height: 20px;
    text-align: left;
}

.wbt-button{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    width:120px;
    height:40px;
    background: #004185 url('../img/go.png') no-repeat;
    background-size: 14px;
    background-position: calc(100% - 10px) center;
    border-radius:20px;
    font-family:Roboto;
    font-weight: bold;
    font-size:12px;
    color: #ffffff;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    padding-left:20px;
    transition: all 0.4s;
    cursor:pointer;
}
.wbt-button:hover{
    padding-left:50px;
}

.list-properties{
    position: relative;
    margin:0 auto;
    margin-top:20px;
    width:880px; /* 1320 */
    height:auto;
    min-height:100px;
}
.ctn-property{
    float:left;
    width:440px;
    height:380px;
    padding:10px;
}
.box-property{
    position: relative;
    background: #ffffff;
    border-radius:20px;
}
.property-type{
    position: absolute;
    top:10px;
    left:10px;
    width:auto;
    background: rgba(255,255,255,0.8);
    padding:0px 10px 0px 10px;
    border-radius:5px;
    font-family:Roboto;
    font-weight: bold;
    font-size:12px;
    color: #004185;
    line-height: 20px;
    text-transform: uppercase;
    z-index:1;
}
.property-ribbon{
    position: absolute;
    bottom:0px;
    left:0px;
    width:auto;
    background: #004185;
    padding:5px 30px 5px 10px;
    border-radius:0px 30px 0px 0px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #ffffff;
    line-height: 20px;
}
.property-pic{
    position: relative;
    width:100%;
    height:260px;
    background: #c6d3e1;
    border-radius:10px;
    transition: all 0.4s;
    box-shadow:0px 0px 4px rgba(0,0,0,0.2);
    cursor:pointer;
    overflow:hidden;
}

.property-pic:hover{
    background-size: 110% !important;
}

.property-price{
    margin-top:10px;
    font-family:Signika;
    font-weight: bold;
    font-size:20px;
    color: #004185;
    line-height: 30px;
}
.property-address{
    margin-top:5px;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    color: #222222;
    line-height: 20px;
}

.property-state{
    position: absolute;
    top:calc(50% - 40px);
    left:calc(50% - 150px);
    width:300px;
    height:80px;
    background: rgba(210,5,12,0.7);
    border:2px solid #ffffff;
    border-radius:10px;
    box-shadow:0 0 0 5px rgba(210,5,12,0.7);
    font-family:Roboto;
    font-size:50px;
    color: #ffffff;
    line-height: 76px;
    text-align: center;
    text-transform: uppercase;
    z-index:1;
}

.christofferhartmann{
    position: relative;
    width:300px;
    height:300px;
    background:#ffffff url('../img/perfil\ ok.jpg') no-repeat center;
    background-size: 250px;
    border-radius:50%;
    animation: anim-one 2s linear infinite;
}

/** Contact **/
.wbt-control{
    position: relative;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}
input{
    width:100%;
    height:40px;
    background: #ffffff;
    border:0px;
    border-bottom:3px solid #bdd0e5;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #004185;
    outline: none;
}

textarea{
    width:100%;
    min-width:100%;
    max-width:100%;
    height:90px;
    min-height:90px;
    max-height:90px;
    background: #ffffff;
    border:0px;
    border-bottom:3px solid #bdd0e5;
    border-radius:10px;
    padding:10px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #004185;
    outline: none;
}
.btn-contact{
    position: relative;
    float:right;
    width:120px;
    height:40px;
    background: #082e57 url('../img/go.png') no-repeat;
    background-size: 14px;
    background-position: calc(100% - 10px) center;
    border-radius:20px;
    font-family:Roboto;
    font-weight: bold;
    font-size:12px;
    color: #ffffff;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    padding-left:20px;
    box-shadow:0px 0px 0px 4px rgba(255,255,255,0.1);
    transition: all 0.4s;
    cursor:pointer;
}
.btn-contact:hover{
    padding-left:50px;
}

/** **/
.ctn-podcast{
    float:left;
    width:440px;
    min-height:340px;
    height: auto;
    padding:10px;
    vertical-align: top;
}
.ctn-podcast-min{
    position: relative;
    display: inline-block;
    width:240px;
    min-height:240px;
    height: auto;
    padding:10px;
    vertical-align: top;
}

.box-podcast{
    position: relative;
    background: #ffffff;
    border-radius:20px;    
}
.podcast-episode{
    position: absolute;
    top:10px;
    left:10px;
    width:auto;
    background: rgba(255,255,255,0.8);
    padding:0px 10px 0px 10px;
    border-radius:5px;
    font-family:Roboto;
    font-weight: bold;
    font-size:12px;
    color: #004185;
    line-height: 20px;
    text-transform: uppercase;
    z-index:1;
}
.podcast-pic{
    position: relative;
    width:100%;
    border-radius:10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow:0px 0px 4px rgba(0,0,0,0.2);
    overflow:hidden;
}
.podcast-pic img{
    width:100%;
}
.podcast-ribbon{
    position: absolute;
    bottom:0px;
    left:0px;
    width:auto;
    background: #004185;
    padding:5px 30px 5px 10px;
    border-radius:0px 30px 0px 0px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #ffffff;
    line-height: 20px;
}
.podcast-play{
    position: absolute;
    top:calc(50% - 40px);
    left:calc(50% - 40px);
    width:80px;
    height:80px;
    background: rgba(255,255,255,0.8) url('../img/play.png') no-repeat center;
    background-size: 30px;
    border-radius:50%;
    cursor:pointer;
    transition: all 0.4s;
    z-index:1;
}
.podcast-play:hover{
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.5);
}

.podcast-title{
    margin-top:10px;
    font-family:Signika;
    font-weight: bold;
    font-size:20px;
    color: #004185;
    line-height: 30px;
}
.ctn-podcast-min .podcast-title{
    font-size:16px;
    line-height: 20px;
}
.podcast-date-published{
    margin-top:5px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #004185;
    line-height: 15px;
    text-align: left;
    background: url('../img/date.png') no-repeat;
    background-size: 14px;
    padding-left: 20px;
}
.ctn-podcast-min .podcast-date-published{
    font-size:13px;
}
.podcast-counter{
    margin-top:5px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #222222;
    line-height: 15px;
    text-align: left;
    background: url('../img/view.png') no-repeat;
    background-size: 14px;
    padding-left: 20px;
}
.ctn-podcast-min .podcast-counter{
    font-size:13px;
}

.podcast-video{
    width:100%;
    height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
    margin-bottom:40px;
}
.podcast-video iframe, .podcast-video object, .podcast-video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/** Team **/
.ctn-team{
    display: inline-block;
    width:240px;
    height:360px;
    padding:10px;
}
.box-team{
    position: relative;
    background: #ffffff;
    border-radius:20px;
}
.team-pic{
    position: relative;
    width:100%;
    border-radius:10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow:0px 0px 4px rgba(0,0,0,0.2);
    overflow:hidden;
}
.team-pic img{
    width:100%;
}
.team-ribbon{
    position: absolute;
    bottom:0px;
    left:0px;
    width:auto;
    background: #004185;
    padding:5px 30px 5px 10px;
    border-radius:0px 30px 0px 0px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #ffffff;
    line-height: 20px;
}
.team-name{
    margin-top:10px;
    font-family:Signika;
    font-weight: bold;
    font-size:20px;
    color: #004185;
    line-height: 30px;
}
.team-phone{
    margin-top:5px;
    font-family:Roboto;
    font-weight: normal;
    font-size:15px;
    color: #222222;
    line-height: 15px;
}

/** **/
a{
    text-decoration: none;
}

.bisel-footer-1{
    position: absolute;
    top:0px;
    right:0px;
    width:40%;
    height:8px;
    background: #004185;
    border-radius:0px 0px 0px 20px;
}
.bisel-footer-2{
    position: absolute;
    bottom:0px;
    left:0px;
    width:40%;
    height:8px;
    background: #004185;
    border-radius:0px 20px 0px 0px;
}

.link-website{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/website.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-fb{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/fb.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-instagram{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/instagram.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-linkedin{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/linkedin.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-twitter{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/twitter.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-tik-tok{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/tik-tok.png') no-repeat center;
    background-size: 30px;
    margin:5px;
}
.link-share{
    position: relative;
    float:left;
    width:30px;
    height:30px;
    background: url('../img/share.png') no-repeat center;
    background-size: 30px;
    margin:5px;
    cursor:pointer;
}

.ctn-contact-links{
    position: relative;
    margin:0 auto;
    margin-top:5px;
    width:210px;
    height:35px;
    text-align: center;
}
.contact-none{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    margin:5px;
}
.contact-website{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/website-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}
.contact-fb{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/fb-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}
.contact-instagram{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/instagram-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}
.contact-linkedin{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/linkedin-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}
.contact-twitter{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/twitter-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}
.contact-tik-tok{
    position: relative;
    display: inline-block;
    width:25px;
    height:25px;
    background: url('../img/tik-tok-2.png') no-repeat center;
    background-size: 25px;
    margin:5px;
}

.ctn-links{
    position: relative;
    float: left;
    width:240px;
    margin-top:10px;
}
.wbt-link{
    float:left;
    font-family:Roboto;
    font-size:12px;
    color:rgba(255,255,255,0.5);
    line-height:20px;
    text-decoration: none;
    padding-left:5px;
    padding-right:5px;
}
.wbt-link:hover{
    color:#ffffff;
}

.wbt-counter{
    position: relative;
    float:right;
    margin-bottom:0px;
    width:100px;
    height:50px;
    font-family:Roboto;
    font-size:12px;
    color:rgba(255,255,255,0.5);
    line-height:20px;
    text-align: right;
}

.counter{
    margin-top:10px;
    width:100px;
    height:20px;
    font-family:Roboto;
    font-weight: bold;
    font-size:20px;
    color:#ffffff;
    line-height:20px;
    text-align:right;
    overflow: hidden;
}

.credit{
    position:relative;
    font-family:Roboto;
    font-size:12px;
    color:rgba(255,255,255,0.5);
    line-height:20px;
    text-align: right;
    padding-top:5px;
    padding-bottom:0px;
}

.scroll-top{
    position:fixed;
    bottom:10px;
    right:10px;
    width:30px;
    height:40px;
    background:#004185 url('../img/top.png') no-repeat center;
    background-size: 16px;
    border-radius: 15px;
    box-shadow:0 0 0 3px rgba(255,255,255,0.5);
    display:none;
    cursor:pointer;
    z-index:1000;
}

.clear{
    clear:both;
}
.x-1{
    width:100%;
}
.x-2{
    width:50%;
    float:left;
}

.left{
    text-align: left !important;
}
.center{
    text-align: center !important;
}
.right{
    text-align: right !important;
}
.justify{
    text-align: justify !important;
}

/** Animation **/

@keyframes anim-option {
  0% {  	
    width:0%;
  }
  100% {  	
    width:100%;
  }
}

@keyframes anim-one {
  0% {  	
    box-shadow:0px 0px 0px 0px rgba(255,255,255, 0.5), 0px 0px 5px rgba(0,0,0, 0.2);
  }
  50% {  	
    box-shadow:0px 0px 0px 10px rgba(255,255,255, 0.5), 0px 0px 5px rgba(0,0,0, 0.2);
  }
  100% {  	
    box-shadow:0px 0px 0px 0px rgba(255,255,255, 0.5), 0px 0px 5px rgba(0,0,0, 0.2);
  }
}

/** Responsive Design **/
@media (max-width: 1840px) {
    .logo{
        position: absolute;
        top:25px;
        left:20px;
        width:190px;
        height:auto;
        background: url('../img/CHlogo512.png') no-repeat center;
        background-size: 100%;
    
    }
    .menu-dock-options{
        width:500px; /*435*/
    }
    .menu-dock-options .option{
        font-size:15px;
        line-height:20px;
    }
    
    .wbt-slider{
        height:480px;
    }
    .wbt-banner{
        height:480px;
    }
    
    .gallery-cell .wbt-slider{
        border-radius:0px !important;
        height:600px !important;
    }
    .gallery-cell .wbt-banner{
        border-radius:0px !important;
        height:600px !important;
    }
    
    .wbt-section-content{
        width:1320px;
    }
}

@media (max-width: 1400px) {
    .wbt-section-content{
        width:880px;
    }
}

@media (max-width: 1000px) {
    .btn-ws{
        display:none;
    }
    
    .btn-menu{
        right:20px;
        display:block;    
    }
    
    .menu-dock-top{
        min-height:80px;
        /*height:120px;*/
    }
    .menu-dock-options{
        position: relative;
        margin:0 auto;
        margin-top:50px;
        right:inherit;
        width:100%;
        display: flex;
        text-align: center;
        justify-content: center;
        /*top:70px;
        left:calc(50% - 237.5px);*/
        /*display:none;*/
    }
    .menu-dock-options .option{
        display: inline-block;
        float:none;
    }
    
    /*.menu-dock-top .menu-dock-options{
        position: absolute;
        top:70px;
        left:calc(50% - 237.5px);
        right:inherit;
        width:435px;
        height:40px;
        display:block;
    }*/
}

@media (max-width: 900px) {
    .wbt-section-content{
        width:680px;
    }
    
    .ctn-property{
        width:340px;
        height:380px;
    }
    .property-pic{
        height:220px;
    }
    .property-state{
        top:calc(50% - 30px);
        left:calc(50% - 125px);
        width:250px;
        height:60px;
        font-size:40px;
        line-height: 56px;
    }
    
    .christofferhartmann{
        margin-top:40px;
        width:240px;
        height:240px;
        background:#ffffff url('../img/perfil\ ok.jpg') no-repeat center;
        background-size: 200px;
    }
    
    .ctn-podcast{
        width:340px;
        height:300px;
    }
}

@media (max-width: 700px) {
    .wbt-section-content{
        width:560px;
    }
    
    .ctn-property{
        width:280px;
        height:300px;
    }
    .property-pic{
        height:160px;
    }
    .property-state{
        top:calc(50% - 25px);
        left:calc(50% - 100px);
        width:200px;
        height:50px;
        font-size:30px;
        line-height: 46px;
    }
    
    .ctn-podcast{
        width:280px;
        height:260px;
    }
}

@media (max-width: 600px) {
    .gallery-cell .wbt-slider{
        height:480px !important;
    }
    .gallery-cell .wbt-banner{
        height:480px !important;
    }

    .menu-dock{
        width: calc(100% - 40px);
        left:20px;
        border-radius:25px;
    }
    .menu-dock-top{
        width: calc(100% - 40px);
        left:20px;
        border-radius:25px;
    }
    .menu-dock-options .option {
        font-size:12px;
        padding:10px 5px 10px 5px;
    }
    
    .carousel {
        border-radius:25px 25px 0px 0px;
    }
    .wbt-slider{    
        border-radius:25px 25px 0px 0px;
    }
    .wbt-banner{    
        border-radius:25px 25px 0px 0px;
        height:340px;
    }
    .wbt-content{
        border-radius:25px 25px 0px 0px;
        margin-top:-20px !important;
    }
    
    
    .wbt-section-content{
        width:440px;
    }
    
    .ctn-property{
        width:440px;
        height:auto;
        margin-bottom:40px;
    }
    .property-pic{
        height:260px;
    }
    
    .property-state{
        top:calc(50% - 40px);
        left:calc(50% - 150px);
        width:300px;
        height:80px;
        font-size:50px;
        line-height: 76px;
    }
    
    .section-agent .x-2{
        width:100%;
    }
    .nicolas-ortiz-broker-one{
        margin-top:0px;
        margin-bottom:40px;
    }
    
    .ctn-podcast{
        width:440px;
        height:auto;
        margin-bottom:20px;
    }
    
    .ctn-team{
        width:200px;
        height:auto;
        margin-bottom:20px;
    }
    .ctn-contact-links{
        width:180px;
        height:30px;
    }
    
    .contact-none{
        width:20px;
        height:20px;
    }
    .contact-website{
        width:20px;
        height:20px;
        background: url('../img/website-2.png') no-repeat center;
        background-size: 20px;
    }
    .contact-fb{
        width:20px;
        height:20px;
        background: url('../img/fb-2.png') no-repeat center;
        background-size: 20px;
    }
    .contact-instagram{
        width:20px;
        height:20px;
        background: url('../img/instagram-2.png') no-repeat center;
        background-size: 20px;
    }
    .contact-linkedin{
        width:20px;
        height:20px;
        background: url('../img/linkedin-2.png') no-repeat center;
        background-size: 20px;
    }
    .contact-twitter{
        width:20px;
        height:20px;
        background: url('../img/twitter-2.png') no-repeat center;
        background-size: 20px;
    }
    .contact-tik-tok{
        width:20px;
        height:20px;
        background: url('../img/tik-tok-2.png') no-repeat center;
        background-size: 20px;
    }
}

@media (max-width: 480px) {
    .wbt-legend {
        font-size:11px;
    }
    
    .menu-dock{
        width: calc(100% - 20px);
        left:10px;
        border-radius:25px;
    }
    .menu-dock-top{
        width: calc(100% - 20px);
        left:10px;
        border-radius:25px;
    }
    .menu-dock-options .option {
        font-size:12px;
        padding:10px 5px 10px 5px;
    }
    
    .logo{
        top:30px;
        left:10px;
        width:125px;
        height:auto;
        background: url('../img/CHlogo512.png') no-repeat center;
        background-size: 100%;
    }
    .btn-menu{
       right:10px;
    }
    
    .wbt-section-content{
        width:calc(100% - 40px);
    }
    .ctn-property{
        width:100%;
    }
    .ctn-podcast{
        width:100%;
    }
    
    .property-state{
        top:calc(50% - 30px);
        left:calc(50% - 125px);
        width:250px;
        height:60px;
        font-size:40px;
        line-height: 56px;
    }
    
    .x-2{
        width:100%;
    }
    .section-footer .x-2{
        text-align: center !important;
    }
    .section-footer .link-fb{
        float:none;
        display:inline-block;
    }
    .section-footer .link-instagram{
        float:none;
        display:inline-block;
    }
    .section-footer .link-linkedin{
        float:none;
        display:inline-block;
    }
    .section-footer .link-twitter{
        float:none;
        display:inline-block;
    }
    .section-footer .link-tik-tok{
        float:none;
        display:inline-block;
    }
    .section-footer .link-share{
        float:none;
        display:inline-block;
    }
    .credit{
        text-align: center;
    }
    
    .bisel-footer-1{
        position: absolute;
        top:0px;
        right:10%;
        width:80%;
        height:8px;
        background: #004185;
        border-radius:0px 0px 20px 20px;
    }
    .bisel-footer-2{
        position: absolute;
        bottom:0px;
        left:10%;
        width:80%;
        height:8px;
        background: #004185;
        border-radius:20px 20px 0px 0px;
    }
    
    .ctn-links{
        float:none;
        width:100%;    
    }
    .wbt-counter{
        position: relative;
        margin:0 auto;
        float:none;
        text-align: center;
    }
    .counter{
        text-align: center;
    }
}